/* Обнуление */
*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/* Стили для демонстрации */
html,body{
    height: 100%;
    background-color: #333;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    font-size: 25px;
}
.wrapper{
    height: 100%;
    padding: 50px;
}
/* Основные стили */

/* Слайдер */
.slick-slider{}
/* Ограничивающая оболочка */
.slick-list{ /* Ограничение размеров слайдера под картинки */
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{ /* Чтобы все слайды выстроились в ряд */
    display: flex;
    align-items: flex-start; /* Прижмет наш слайд кверху, тогда adaptiveHeight в script.js будет работать */
}

/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}

/* Конкретный слайдер */
.slider {
    position: relative;
    padding: 0 60px;
}
.slider .slick-arrow { /* Собираем стрелки слайдера вместе */
    position: absolute;
    top: 50%;
    margin: -30px 0 0 0;
    z-index: 10;
    font-size: 0; /* Убрать надписи на кнопках, вместо них сделаем изображения */
    width: 30px;
    height: 60px;
}
.slider .slick-arrow.slick-prev { /* Стрелка слайдера слева */
    left: 0;
    background: url('../img/arrow-circle-left-svgrepo-com.svg') 0 0 / 100% no-repeat; /* Стрелка влево */
}
.slider .slick-arrow.slick-next { /* Стрелка слайдера справа */
    right: 0;
    background: url('../img/arrow-circle-right-svgrepo-com.svg') 0 0 / 100% no-repeat; /* Стрелка вправо */
}
.slider .slick-arrow.slick-disabled{
    opacity: 0.2; /* Отключение кнопки, если уже не куда листать (нет изображений) */
}

/* Точки */
.slider .slick-dots{
    display: flex;
    align-items: center; /* Поставим точки в центре по горизонтали */
    justify-content: center; /* Поставим точки в центре по вертикали */
}
.slider .slick-dots li{
    list-style: none; /* Точки упорядочиваем по порядку в строку */
    margin: 0 10px; /* Расстояние (отступы) между точками */
}
.slider .slick-dots button{
    font-size: 0; /* Прячем нумерацию */
    width: 10px;
    height: 10px;
    background-color: #fff; /* Появляется белая полоска вместо всех точек */
    border-radius: 50%; /* Белая полоска разделяется на точки */
}

.slider .slick-dots li.slick-active button{ /* Активная точка с выбранным изображением */
    background-color: transparent; /* Выбранная точка прозрачная */
    border: 1px solid #fff;
}

.slider_item {
    text-align: center;
}